body 
{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    background-color: black;
    color: white;
}
.centered-container 
{
    display: flex;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0 auto;
}

#toc-panel {
    position: fixed;
    top: 0;
    left: 0px;
    width: 280px;
    padding: 20px;
    overflow-y: auto;
  }

header, nav
{
    text-align:center;
}

.flex-grow 
{
    flex: 1 1 auto;
}

#nav a
{
    margin-right: 20px;
}

a {
    color: lightseagreen; 
    transition: color 2s;
}
a:active {
    color: rgb(55, 32, 255);
}


small 
{
    color: gray;
}

#content {
    width: 100%;
    text-align: center;
    flex: 1 0 auto;
}

.rules-content 
{
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.rules-content table 
{
    max-width: 100%;
    overflow-x: auto;
}

.rules-content table tr td
{
    border-bottom: 1px solid #555;
    border: 1px solid #ccc;
    min-width: 3em;
    text-align: center;
    vertical-align: middle;
}

ul 
{
    font-family: monospace;
}

.post 
{
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    border: 1px solid white;
    background: black;
    text-align: left;
}

.post h2
{
    margin-top: 0;
}

footer {
    margin-top: auto;
    padding: 10px;
    text-align: center;
}

strong, b {
    color: #ff5050;
    font-weight: bold;
  }


/* Dead Content */
.dead-content table {
    width: 100%;
    table-layout: fixed;
}

.dead-content th, .dead-content td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
}

.rules-content table tr:nth-child(even), .dead-content table tr:nth-child(even) {
    background-color: #222;
}

/* Common Table Styles */
table {
    width: 100%;
}

th, td {
    padding: 8px;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: center;
    }
    .rules-content table tr td:nth-child(n) {
        font-size: 12px; 
    }

    #toc-panel {
        position: relative;
        width: 80%;
        max-width: 300px;
        margin: 20px auto!important; 
     }

    .centered-container 
    {
    margin: 0;
    width: 100%;
    }
}
